---
const saludo = "Proyecto de astroooo!!";


import Card from "../componentes/card.astro";
import Layout from "../componentes/layout.astro"
---

<Layout pageTitle="Pagina inicial" claseActiva = "botonInicio">
	<h1>{saludo}</h1>
	<h2>Titulo 1</h2>
	<h3>Titulo 2</h3>
	<section>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit obcaecati libero, ducimus eaque consectetur quaerat quis corporis perspiciatis, hic eligendi quisquam vel a nobis sed architecto eos praesentium voluptatum consequatur atque distinctio! Ipsum quidem amet error praesentium at corrupti ut, ratione eveniet adipisci possimus sequi soluta vitae, quia ullam nulla!</section>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, labore rerum explicabo distinctio ipsa libero minus cumque animi voluptates quae et nihil officiis.</p>
	<div class="inicio">
		<Card titulo="programacion" texto="loremdklasjldksajkldh alskdkjsadh alskjdfklsadj"/>
	</div>
</Layout>

<style>



	main { 
	display: grid;
	grid-template-areas:
				"titulo1 titulo1 titulo1"
				"titulo2 titulo2 titulo3"
				"seccion1 seccion1 parrafo1";
	justify-content: center;
	align-items: center;
	text-align: center;

			}
	
	h1{ 
		grid-area: titulo1;
		border: black solid 1px;
	}
	h2{grid-area: titulo2;}
	h3{grid-area: titulo3;}
	section{grid-area: seccion1;}
	p{grid-area: parrafo1;}

</style>

<script>
	

</script>
