---
import Layout from "../componentes/layout.astro"
---
<Layout pageTitle="Sobre Nostros">
    <h1>Sobre nosotros</h1>
    <section>
        <p><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi doloribus maiores voluptate?</strong></p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam mollitia numquam unde repellat ratione, aspernatur modi ex nisi dolor eius accusantium vero fuga neque quod, atque suscipit est esse. Molestiae sapiente, amet sed voluptatem quibusdam quaerat porro dolorem iste rerum fugit minima!</p>
    </section>
</Layout>
