---
const {titulo, texto} = Astro.props 
---

<div class="card">
    <h1>{titulo}</h1>
    <p>{texto}</p>
</div>


<style>
    .card{
        border: 1px black solid;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.3);
        padding: 15px;


    }
</style>
