---

const subMenu = [{name: "Inicio", link: "../index.html"}, {name:"Productos", link: "../productos/index.html"}, {name:"Nosotros", link: "../nosotros/index.html"}, {name: "post", link: "../post/index.html"}, {name: "Mis Servicios", link: "../misservicios/index.html"}];

const {pageTitle} = Astro.props;

---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Astro | {pageTitle}</title>
</head>
<body>
    <header>
        <div class="nombrePagina"><p>Nombre de la web</p></div>
        <div class="subMenu">
            <ul>
            {subMenu.map((menus) => (
				<li>
					<a href={menus.link} >
						{menus.name},
						
					</a>
				</li>
			))}
            </ul>
        </div>
    </header>
    <main>
        <slot/>
    </main>
   
</body>

<style>
    	.subMenu {
		display: flex;
		flex-wrap: wrap;
		justify-content: end;
	}

    .botonInicio {
        /* Estilos para el enlace activo */
        color: red; /* Puedes personalizar esto según tus necesidades */
        font-weight: bold;
    }

	.nombrePagina{
		display: flex;
		width: 15vw;
		border: black solid 1px;
		align-items: center;
		justify-content: center;

		
	}

	.nombrePagina p{
		font-family: 'Times New Roman', Times, serif;
		font-size: x-large;
		text-shadow: 5px;

		
	}
	.subMenu ul{
		display: flex;
		width: 75vw;


		justify-content: space-around;
		list-style-type: none;
	}
</style>


</html>